<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>Webgram</title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-1.0.0.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- scripts -->
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/webgram.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="/session?callback=Webgram.bootstrap"></script>
  </html>
  <body>
    <div id="topbar"></div>
    <div id="page"></div>

    <script id="template-topbar" type="text/template">
    <div class="topbar">
      <div class="fixed">
        <% if (session.user) { %>
        <div class="current-user">
          <a href="#/users/<%= session.user.id %>"><img src="<%= session.user.profile_picture %>" alt="<%= session.user.username %>&rsquo;s picture" /></a>
          <a href="#/users/<%= session.user.id %>" class="username"><%= session.user.username %></a>
          <span class="buttons">
            <a href="#/users/<%= session.user.id %>/photos"><strong><%= session.user.counts.media %></strong> photos</a>
            <a href="#/users/<%= session.user.id %>/following"><strong><%= session.user.counts.follows %></strong> follows</a>
            <a href="#/users/<%= session.user.id %>/followed_by"><strong><%= session.user.counts.media %></strong> followers</a>
          </span>
        </div>
        <% } else { %>
        <h3><a class="logo" href="#/">Webgram</a></h3>
        <% } %>
        <ul>
        <% if (session.user) { %>
          <li><a href="#/">Feed</a></li>
          <li><a href="#/users/<%= session.user.id %>/photos">My photos</a></li>
          <li><a href="#/users/<%= session.user.id %>/likes">My likes</a></li>
          <li><a href="#/popular">Popular</a></li>
          <li class="search"><form><input type="text" placeholder="Search" /></form></li>
          <li><a href="#/logout">Log out</a></li>
        <% } else { %>
          <li><a href="#/popular">Popular</a></li>
          <li><a href="#/about">About</a></li>
        <% } %>
        </ul>
      </div>
    </div>
    </script>

    <script id="template-anon-home" type="text/template">
      <div class="container anon-home">
        <div class="well">
          <h1>Welcome to <a href="#/">Webgram</a>.</h1>
          <p>The missing UI for Instagram. To get started,</p>
          <p><a href="#/login" class="btn primary">Log in with Instagram</a></p>
        </div>
      </div>
    </script>

    <script id="template-feed" type="text/template">
      <div class="feed"></div>
    </script>

    <script id="template-thumb" type="text/template">
      <div class="thumb">
        <a href="#/photos/<%= photo.id %>"><img src="<%= photo.images.low_resolution.url %>" alt="<%= photo.caption %>" width="<%= photo.images.low_resolution.width %>" height="<%= photo.images.low_resolution.height %>" /></a>
        <div class="meta">
          <a class="user" href="#/users/<%= photo.user.id %>/photos"><%= photo.user.username %></a>
          <a class="comments" href="#/photos/<%= photo.id %>/comments"><%= photo.comments.count %></a>
          <a class="likes" href="javascript:void(0);" onclick="Webgram.toggleLike(this, <%= photo.id %>);" class="likes"><%= photo.likes.count %></a>
        </div>
      </div>
    </script>
  </body>
<html>
